<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../partials/head}}
  <link rel="stylesheet" type="text/css" href="/css/spinner.css">
  <link rel="stylesheet" type="text/css" href="/css/linears.css">
  <link rel="stylesheet" type="text/css" href="/css/double-slider.css">
</head>

<body>
  {{> ../partials/header}}
  <div class="active-currency">
    <h1 class="chart-title">COVID-19 cases</h1>
  </div>
  <div id="covid-19-chart-area" class="covid-19-chart-area"></div>
    <div class="d-slider-wrapper">
      <div id="d-slider" class="d-slider">
        <div class="d-slider__bar">
          <div id="chart-slider-area" class="chart-slider-area"></div>
        </div>
        <div class="d-slider__control-area">
          <div class="d-slider__pointer d-slider__pointer_low"></div>
          <div class="d-slider__pointer d-slider__pointer_high"></div>
        </div>
      </div>
    </div>
    <div class="controls">
      <button class="range-button" range="3">3d</button>
      <button class="range-button" range="7">1w</button>
      <button class="range-button" range="14">2w</button>
      <button class="range-button" range="21">3w</button>
      <button class="range-button" range="30">1m</button>
      <button class="range-button" range="60">2m</button>
      <button class="range-button" range="365">1y</button>
      <button class="range-button" range=>all</button>
    </div>
  </div>
  <div class="spinner"></div>
  <script src="/assets/margin.js"></script>
  <script src="/assets/d3.v5.js"></script>
  <script src="/assets/scales-diagram.js"></script>
  <script src="/assets/axis.js"></script>
  <script src="/assets/scale-line.js"></script>
  <script src="/assets/tooltip.js"></script>
  <script src="/assets/line-chart-pointer.js"></script>
  <script src="/assets/line-chart.js"></script>
  <script src="/assets/double-slider.js"></script>
  <script src="covid-19.js"></script>
  {{> ../partials/footer}}
</body>

</html>
