<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../partials/head}}
  <link rel="stylesheet" href="/css/gapminder.css">
  <link rel="stylesheet" href="/css/slider.css">
</head>

<body>
  {{> ../partials/header}}
  <h1 class="chart-title">Coin Stars - BTC (in development)</h1>
  <div id="chart-area-2"></div>
  <div class="controls"></div>
  <script src="/assets/d3.v5.js"></script>
  <script src="/assets/margin.js"></script>
  <script src="/assets/scales-diagram.js"></script>
  <script src="/assets/axis-diagram.js"></script>
  <script src="/assets/line-chart.js"></script>
  <script src="/assets/bar-chart.js"></script>
  <script src="coin-stars.js"></script>
  {{> ../partials/footer}}
</body>

</html>
