<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../partials/head}}
  <link rel="stylesheet" type="text/css" href="/css/coin-stars.css">
  <link rel="stylesheet" type="text/css" href="/css/double-slider.css">
  <style>
    .controls .center {
      padding: 10px 0 0 60px;
      margin: auto;
    }
  </style>
</head>

<body>
  {{> ../partials/header}}
  <h1 class="chart-title">Coin Stars - BTC (in development)</h1>
  <div id="coin-stars-chart-area" class="coin-stars-chart-area"></div>
    <div class="d-slider-wrapper">
      <div id="d-slider" class="d-slider">
        <div class="d-slider__bar">
          <div id="chart-slider-area" class="chart-slider-area"></div>
        </div>
        <div class="d-slider__control-area">
          <div class="d-slider__pointer d-slider__pointer_low"></div>
          <div class="d-slider__pointer d-slider__pointer_high"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <div class="center">
      <button class="range-button" range="30">1m</button>
      <button class="range-button" range="90">3m</button>
      <button class="range-button" range="180">6m</button>
      <button class="range-button" range="365">1y</button>
      <button class="range-button" range=>all</button>
    </div>
  </div>
  <script src="/assets/d3.v5.js"></script>
  <script src="/assets/margin.js"></script>
  <script src="/assets/scales-diagram.js"></script>
  <script src="/assets/axis.js"></script>
  <script src="/assets/scale-line.js"></script>
  <script src="/assets/tooltip.js"></script>
  <script src="/assets/line-chart-pointer.js"></script>
  <script src="/assets/line-chart.js"></script>
  <script src="/assets/double-slider.js"></script>
  <script src="coin-stars.js"></script>
  {{> ../partials/footer}}
</body>

</html>
