.d-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.d-slider__bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.d-slider__control-area {
  height: 100%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.d-slider__pointer {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(173, 255, 47, 0.2);
  transition: width 0.7s ease-out;
  -webkit-transition: width 0.7s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.d-slider__control-area.active .d-slider__pointer {
  transition: none;
  -webkit-transition: none;
}

.d-slider__pointer_low {
  left: -1px;
  width: 0;
  border-right: 1px solid #777;
}

.d-slider__pointer_high {
  right: -1px;
  width: 0;
  border-left: 1px solid #777;
}

.d-slider__pointer:before {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  top: calc(50% - 10px);
  border-radius: 50%;
  background: #ddd;
  border: solid 1px #777;
  cursor: ew-resize;
}

.d-slider__pointer_low.d-slider__pointer:before {
  right: -11px;
  content: '‹';
}

.d-slider__pointer_high.d-slider__pointer:before {
  left: -11px;
  content: '›';
  padding-left: 1px;
}
