body,
html,
h1,
ul {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1.chart-title {
  display: none;
}

/* Github link */
.github-link {
  display: inline-block;
  vertical-align: middle;
}

.github-link img {
  width: 50px;
  height: 50px;
}

.container {
  background: #17a589;
}

#chart-area {
  position: relative;
}

#chart-area-2 {
  position: relative;
  height: 60vh;
  max-height: 500px;
}

.container.container_secondary {
  background: #a3e4d7;
}

.container.container_main {
  background: #fff;
}

.container__content {
  margin: auto;
  max-width: 95%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

@keyframes header-animation {
  0% {
    opacity: 0;
    padding-left: 100px;
  }
  25% {
    opacity: 0;
  }
  100% {
    padding-left: 0;
  }
}

.header h1 {
  color: #fff;
  -webkit-animation-name: header-animation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: header-animation;
  animation-duration: 1s;
  white-space: nowrap;
}

.header a {
  font-size: 0;
  line-height: 0;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px 0;
}

.navigation li {
  min-width: 80px;
  padding-right: 20px;
}

.navigation li a {
  text-decoration: none;
  color: #0e6655;
  font-size: 16px;
  line-height: 20px;
}

.navigation li a:hover {
  text-decoration: underline;
}

.navigation li a.active {
  text-decoration: underline;
}

.main-content {
  padding: 0;
}

/* Chart controls */
.controls {
  display: flex;
  padding: 0 0 30px;
}

.controls {
  width: 100%;
}

.controls .controls__cell {
  align-self: center;
}

.controls .controls__cell.controls__cell_fluid {
  width: 100%;
}

.player-button {
  background: url('/img/player-icons.png');
  width: 32px;
  height: 31px;
  background-size: 150px;
  background-position: -259px -54px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 1s;
}

.player-button.player-button_stop {
  background-position-y: -8px;
}

.player-button:hover {
  opacity: 0.6;
  transition: opacity 1s;
}

/* Tooltip */
.tooltip {
  position: absolute;
  min-width: 100px;
  padding: 4px 8px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px #000 solid;
  border-radius: 2px;
  pointer-events: none;
  opacity: 0;
}

.tooltip:after,
.tooltip:before {
  right: 100%;
  top: 11px;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
}

.tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}

.tooltip:before {
  border-color: rgba(26, 30, 33, 0);
  border-right-color: #1a1e21;
  border-width: 7px;
  margin-top: -7px;
}

.tooltip .content {
  white-space: nowrap;
}

.tooltip .label {
  font-weight: bold;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 668px) {
  h1.chart-title {
    display: block;
  }

  .container.container_main {
    height: calc(100vh - 110px);
    overflow: scroll;
  }

  .main-content {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 768px) {
  .container__content {
    max-width: 75%;
  }
}
