<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../partials/head}}
  <meta http-equiv="refresh"
   content="0; url=/00-bar-chart/index.html">
</head>

<body>
  {{> ../partials/header}}
  {{> ../partials/footer}}
</body>

</html>
