<div>
  <div class="container">
    <div class="container__content">
      <div class="header">
        <div>
          <h1>
            D3 Visualizations:
          </h1>
        </div>
        <div>
          <a class="github-link" href="https://github.com/serjilyashenko/d3-visualizations.git">
            <img src="/img/GitHub-Mark.png" alt="github link">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container container_secondary">
    <div class="container__content">
      <ul class="navigation">
        <li>
          <a href="/00-bar-chart/index.html">Bar Chart</a>
        </li>
        <li>
          <a href="/01-scatter-plot/index.html">Scatter Plot</a>
        </li>
        <li>
          <a href="/02-gapminder/index.html">Gapminder</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container container_main">
  <div class="container__content main-content">
{{! closing tags of the divs into footer.mustach }}
