<div>
  <div class="container">
    <div class="container__content">
      <div class="header">
        <div>
          <h1>
            D3 Visualizations:
          </h1>
        </div>
        <div>
          <a class="github-link" href="https://github.com/serjilyashenko/d3-visualizations.git" target="blank">
            <img src="/img/GitHub-Mark.png" alt="github link">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container container_secondary">
    <div class="container__content">
      <ul class="navigation">
        <li>
          <a href="/03-coin-stars/index.html">Coin Stars</a>
        </li>
        <li>
          <a href="/02-gapminder/index.html">Gapminder</a>
        </li>
        <li>
          <a href="/00-bar-chart/index.html">Bar Chart</a>
        </li>
        <li>
          <a href="/06-geo-projection/index.html">Geo Projection</a>
        </li>
        <li>
          <a href="/01-scatter-plot/index.html">Scatter Plot</a>
        </li>
      </ul>
    </div>
    <script>
      var linksCollection = document.querySelectorAll('.navigation a');
      var links = Array.prototype.slice.call(linksCollection);
      var currentPath = document.location.pathname;
      links.forEach(function (a) {
        if (currentPath === a.getAttribute('href')) {
          a.classList.add('active');
        }
      });
    </script>
  </div>
</div>
<div class="container container_main">
  <div class="container__content main-content">
{{! closing tags of the divs into footer.mustach }}
