<div>
  <h1>
    D3 Visualizations:
    <a class="github-link" href="https://github.com/serjilyashenko/d3-visualizations.git">
      <img src="/img/GitHub-Mark.png" alt="github link">
    </a>
  </h1>
  <ul class="navigation">
    <li>
      <a href="/00-bar-chart/index.html">Bar Chart</a>
    </li>
    <li>
      <a href="/01-scatter-plot/index.html">Scatter Plot</a>
    </li>
    <li>
      <a href="/02-gapminder/index.html">Gapminder</a>
    </li>
  </ul>
</div>
