<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../partials/head}}
</head>

<body>
  {{> ../partials/header}}
  <h1>Bar Chart</h1>
  <div id="chart-area"></div>
  <script src="/assets/d3.v5.js"></script>
  <script src="/assets/margin.js"></script>
  <script src="/assets/scales-diagram.js"></script>
  <script src="/assets/axis.js"></script>
  <script src="/assets/bar-chart-axis.js"></script>
  <script src="/assets/bar-chart.js"></script>
  <script src="index.js"></script>
  {{> ../partials/footer}}
</body>

</html>
