<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../partials/head}}
  <link rel="stylesheet" href="/css/gapminder.css">
</head>

<body>
  {{> ../partials/header}}
  <h1>Gapminder</h1>
  <div id="chart-area"></div>
  <button id="play-stop">play/stop</button>
  <script src="/assets/d3.v5.js"></script>
  <script src="gapminder.js"></script>
  {{> ../partials/footer}}
</body>

</html>
