<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../partials/head}}
  <link rel="stylesheet" href="/css/gapminder.css">
  <link rel="stylesheet" href="/css/slider.css">

</head>

<body>
  {{> ../partials/header}}
  <h1 class="chart-title">Gapminder</h1>
  <div id="chart-area"></div>
  <div class="controls">
    <div class="controls__cell">
      <button id="play-stop">play/stop</button>
    </div>
    <div class="controls__cell controls__cell_fluid">
      <div id="slider" class="slider">
        <div class="slider__bar"></div>
        <div class="slider__control-area">
          <div class="slider__pointer"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/d3.v5.js"></script>
  <script src="/assets/slider.js"></script>
  <script src="gapminder.js"></script>
  {{> ../partials/footer}}
</body>

</html>
